<!-- templates/players.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clash Royale - Players</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Player List</h1>
    <a href="{{ url_for('index') }}">Back to Home</a>
    <table>
        <thead>
            <tr>
                <th>Tag</th>
                <th>Clan</th>
                <th>Starting Trophies</th>
                <th>Total Cards</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ player.tag }}</td>
                <td>{{ player.clan.tag }}</td>
                <td>{{ player.startingTrophies }}</td>
                <td>{{ player.totalcard.level }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
